@import "./partials/variables";
@import "compass";
@import "susyone";
@import "./partials/animate";
@import "./partials/layout";
@import "./partials/homeLayout";
@import "./partials/albumLayout";
@import "./partials/blogLayout";
@import "./partials/photoLayout";
@import "./partials/plugins";
@import "partials/canvas";
@charset "UTF-8";

//avoid
[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],
.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate)
{
  display:none !important;
}
ng\:form{
  display:block;
}

%middle {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@-webkit-keyframes larger {
  from {
    @include transform(scale(1));
    @include border-radius(50%);
  }
  90% {
    @include transform(scale(28));
    @include border-radius(50%);
  }
  to {
    @include transform(scale(30));
    @include border-radius(0);
  }
}
@-moz-keyframes larger {
  from {
    @include transform(scale(1));
    @include border-radius(50%);
  }
  90% {
    @include transform(scale(28));
    @include border-radius(50%);
  }
  to {
    @include transform(scale(30));
    @include border-radius(0);
  }
}
@-ms-keyframes larger {
  from {
    @include transform(scale(1));
    @include border-radius(50%);
  }
  90% {
    @include transform(scale(28));
    @include border-radius(50%);
  }
  to {
    @include transform(scale(30));
    @include border-radius(0);
  }
}
@keyframes larger {
  from {
    @include transform(scale(1));
    @include border-radius(50%);
  }
  90% {
    @include transform(scale(28));
    @include border-radius(50%);
  }
  to {
    @include transform(scale(30));
    @include border-radius(0);
  }
}
@-webkit-keyframes shadow {
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
  0% {
    @include transform(scale(0));
    opacity: 1;
  }
}
@-moz-keyframes shadow {
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
  0% {
    @include transform(scale(0));
    opacity: 1;
  }
}
@-ms-keyframes shadow {
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
  0% {
    @include transform(scale(0));
    opacity: 1;
  }
}
@keyframes shadow {
  100% {
    @include transform(scale(1));
    opacity: 0;
  }
  0% {
    @include transform(scale(0));
    opacity: 1;
  }
}
@-webkit-keyframes gray-larger {
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
  0% {
    @include transform(scale(0));
    opacity: 0.5;
  }
}
@-moz-keyframes gray-larger {
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
  0% {
    @include transform(scale(0));
    opacity: 0.5;
  }
}
@-ms-keyframes gray-larger {
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
  0% {
    @include transform(scale(0));
    opacity: 0.5;
  }
}
@keyframes gray-larger {
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
  0% {
    @include transform(scale(0));
    opacity: 0.5;
  }
}
@-webkit-keyframes circle-trans {
  100% {
    @include transform(scale(1));
    top: -20em;
  }
  0% {
    @include transform(scale(0));
  }
}
@-moz-keyframes circle-trans {
  100% {
    @include transform(scale(1));
    top: -20em;
  }
  0% {
    @include transform(scale(0));
  }
}
@-ms-keyframes circle-trans {
  100% {
    @include transform(scale(1));
    top: -20em;
  }
  0% {
    @include transform(scale(0));
  }
}
@keyframes circle-trans {
  100% {
    @include transform(scale(1));
    top: -20em;
  }
  0% {
    @include transform(scale(0));
  }
}
.name {
  color: $color3;
  font-family: 'axis';
  font-size: 3em;
  text-align: center;
  width: 6em;
  height: 1em;
  @extend %middle;
  top: -5em;
  padding: 3px 0;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  @include border-radius(8px);
  text-shadow: 3px 3px 2px $color4;
  @include box-shadow(3px 3px 2px $color4);
}
.main-page {
  color: #ffffff;
  width: 4em;
  height: 2em;
  font-size: 2em;
  font-family: 'axis';
  text-align: center;
  @extend %middle;
  top: 7em;
  & span {
    color: $color4;
  }
  &.gray {
    color: $color4;
  }
}
.circle-shadow {
  width: 6em;
  height: 6em;
  background-color: $color4;
  @extend %middle;
  @include border-radius(50%);
  @include animation(shadow 1.2s infinite ease-out);
}
.circle {
  width: 6em;
  height: 6em;
  /*background-color: $color2;*/
  @extend %middle;
  @include border-radius(50%);
  border: 2px solid #ffffff;
  cursor: pointer;
  &.active {
    @include animation(larger 0.2s ease-out);
    @include animation-fill-mode(forwards);
    cursor: default;
  }
}
.img-circle.active {
  width: 6em;
  height: 6em;
  background-image: url('../img/photo.png');
  @extend %middle;
  @include border-radius(50%);
  @include animation(gray-larger 0.2s ease-out);
}
.gray-circle.active {
  width: 3em;
  height: 3em;
  border: $color2 .2em solid;
  @extend %middle;
  @include border-radius(50%);
  @include animation(circle-trans 0.2s ease-out);
  @include animation-fill-mode(forwards);
}
#my-cv {
  width: 100%;
  overflow: visible;
  min-height: 90%;
  @include at-breakpoint($M) {
    width: 90%;
  }
  @include at-breakpoint($L) {
    width: 90%;
  }
  @include at-breakpoint($XL) {
    width: 80%;
  }
  //@extend %middle;
  margin: 2em auto;
  padding-bottom: 2em;
  background-color: #ffffff;
  @include border-radius(10px);
  @include animation(gray-larger 0.2s ease-out);
  @include box-shadow(1px 1px 10px lighten($color1, 20%));
}
.view-container {
  width: 100%;
  height: 100%;
}
/*#my-skill {
  width: 50%;
  height: 100%;
  margin-top: 1em;
  background-color: $color3;
  @extend %middle;
  z-index: 1000;
}*/

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/css/fonts/glyphicons-halflings-regular.eot');
  src: url('/css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/css/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/css/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/css/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/css/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-heart:before {
  content: "\e005";
}

.glyphicon-heart-empty:before {
  content: "\e143";
}

.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-home:before {
  content: "\e021";
}

.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-send:before {
  content: "\e171";
}