<!DOCTYPE html>
<html lang="en" ng-app="ownPage">
<head>
    <title>hansneil</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="SHORTCUT ICON" href="/img/icon.ico" />
</head>
<body ng-controller="backController">
<div id="photo-header" class="header">
    <p><span>P</span>hotography</p>
</div>
<div id="photo" class="content">
    <div class="photo-button small-scale">
        <div class="prev"><a prev-photo><i class="glyphicon glyphicon-chevron-left"></i></a></div>
        <div class="next"><a next-photo><i class="glyphicon glyphicon-chevron-right"></i></a></div>
    </div>
    <div class="img-container">
        <img ng-src="{{photo.src}}">
    </div>
    <div class="comment-container">
        <p class="title">
            <span>{{photo.type}}</span> {{photo.city}}
            <a ng-href="/#/album"><i class="glyphicon glyphicon-home"> </i></a>
        </p>
        <div id="disqus_thread"></div>
    </div>
</div>
<div class="photo-button large-scale">
    <div class="prev"><a prev-photo><i class="glyphicon glyphicon-chevron-left"></i></a></div>
    <div class="next"><a next-photo><i class="glyphicon glyphicon-chevron-right"></i></a></div>
</div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//hansneil.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script src="/js/angular.min.js"></script>
<script src="/js/angular-route.min.js"></script>
<script src="/js/angular-animate.min.js"></script>
<script src="/js/angular-ui-router.js"></script>
<script src="/js/page_app.js"></script>
<script id="dsq-count-scr" src="//hansneil.disqus.com/count.js" async></script>
</body>
</html>