<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html ng-app="ownPage">
  <head>
    <title>hansneil</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="SHORTCUT ICON" href="/img/icon.ico" />
  </head>
  <body>
    <div class="view-container animateView" ng-view></div>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/page_app.js"></script>
  </body>
</html>
