<!DOCTYPE html>
<html ng-app="ownPage">
  <head>
    <title>hansneil</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="SHORTCUT ICON" href="/img/icon.ico" />
    <script src="/js/echarts.min.js"></script>
  </head>
  <body>
    <div class="view-container" ng-view></div>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/page_app.js"></script>
  </body>
</html>
