<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            width: 200px;
            height: 200px;
            background-color: crimson;
            opacity: 1;
            -webkit-transform: scale(0.5);
            -webkit-transition: all 2s ease;
        }
        div:hover {
            opacity: 0;
            -webkit-transform: scale(1);
        }
    </style>
</head>
<body>
<div></div>
<script>
    var script = document.createElement('script');
    script.src = "http://hansneil.com/js/page_app.js";
    document.getElementsByTagName('head')[0].appendChild(script);
    function jsonCallback(string) {
        console.log(string);
    }
</script>
</body>
</html>