@font-face {
  font-family: 'axis';
  src: url("/css/fonts/axis.otf");
}
/* line 11, ../sass/partials/_layout.scss */
body {
  padding: 1em 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00c3ab;
  overflow: scroll;
}

/* line 17, ../sass/partials/_layout.scss */
#my-cv .basic-info-container {
  *zoom: 1;
  max-width: 73em;
  _width: 73em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #00c3ab;
  /*@include susy-grid-background;*/
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#my-cv .basic-info-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/partials/_layout.scss */
#my-cv .skill-container, #my-cv .link-container, #my-cv .cv-container {
  *zoom: 1;
  max-width: 73em;
  _width: 73em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #00c3ab;
  padding-bottom: 1em;
  margin-bottom: 1em;
  /*@include susy-grid-background;*/
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#my-cv .skill-container:after, #my-cv .link-container:after, #my-cv .cv-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../sass/partials/_layout.scss */
#my-cv .skill-container p, #my-cv .link-container p, #my-cv .cv-container p {
  font-family: 'axis';
  color: #00c3ab;
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto .5em auto;
}
@media (min-width: 47em) {
  /* line 27, ../sass/partials/_layout.scss */
  #my-cv .skill-container p, #my-cv .link-container p, #my-cv .cv-container p {
    text-align: left;
  }
}

@media (min-width: 47em) {
  /* line 40, ../sass/partials/_layout.scss */
  .basic-info {
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
}
@media (min-width: 64em) {
  /* line 40, ../sass/partials/_layout.scss */
  .basic-info {
    width: 15.49296%;
    float: left;
    margin-right: 1.40845%;
  }
}
/* line 47, ../sass/partials/_layout.scss */
.basic-info img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 1em auto;
  border: 5px solid #f6fffe;
}

/* line 54, ../sass/partials/_layout.scss */
.basic-info-name {
  text-align: center;
  margin-top: 1em;
}
@media (min-width: 47em) {
  /* line 54, ../sass/partials/_layout.scss */
  .basic-info-name {
    text-align: right;
    margin-top: 2.5em;
    width: 23.94366%;
    float: left;
    margin-right: 1.40845%;
  }
}
@media (min-width: 64em) {
  /* line 54, ../sass/partials/_layout.scss */
  .basic-info-name {
    text-align: right;
    margin-top: 2.5em;
    width: 15.49296%;
    float: left;
    margin-right: 1.40845%;
  }
}
/* line 67, ../sass/partials/_layout.scss */
.basic-info-name span {
  display: block;
  color: #00c3ab;
  font-size: 2em;
  font-family: 'axis';
}
/* line 73, ../sass/partials/_layout.scss */
.basic-info-name .screen-resp {
  display: none;
  font-size: 1.5em;
  margin-top: .1em;
}
@media (min-width: 47em) {
  /* line 73, ../sass/partials/_layout.scss */
  .basic-info-name .screen-resp {
    display: block;
  }
}

/* line 82, ../sass/partials/_layout.scss */
.basic-info-career {
  text-align: center;
  margin-top: .5em;
}
@media (min-width: 47em) {
  /* line 82, ../sass/partials/_layout.scss */
  .basic-info-career {
    text-align: left;
    margin-top: 3em;
    width: 49.29577%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64em) {
  /* line 82, ../sass/partials/_layout.scss */
  .basic-info-career {
    text-align: left;
    margin-top: 3em;
    width: 66.19718%;
    float: right;
    margin-right: 0;
  }
}
/* line 95, ../sass/partials/_layout.scss */
.basic-info-career span {
  display: block;
  color: #00c3ab;
  font-size: 1em;
  font-family: 'axis';
  vertical-align: bottom;
}
/* line 102, ../sass/partials/_layout.scss */
.basic-info-career .screen-resp {
  display: none;
  margin-top: .75em;
}
@media (min-width: 47em) {
  /* line 102, ../sass/partials/_layout.scss */
  .basic-info-career .screen-resp {
    display: block;
  }
}

/*#my-skill {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  @include at-breakpoint($M) {
    width: 50%;
    height: 100%;
    @include span-columns(5 omega, 12);
  }
}*/
/* line 120, ../sass/partials/_layout.scss */
progress-group.left {
  margin: 0 auto;
}
@media (min-width: 47em) {
  /* line 120, ../sass/partials/_layout.scss */
  progress-group.left {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
  }
}
/* line 125, ../sass/partials/_layout.scss */
progress-group.left span {
  color: #00c3ab;
  font-family: 'axis';
  font-size: .8em;
}
@media (min-width: 64em) {
  /* line 125, ../sass/partials/_layout.scss */
  progress-group.left span {
    font-size: 1em;
  }
}
/* line 133, ../sass/partials/_layout.scss */
progress-group.left .bar-container {
  width: 65%;
  height: .6em;
  display: inline-block;
  background-color: #6e6e6e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 47em) {
  /* line 133, ../sass/partials/_layout.scss */
  progress-group.left .bar-container {
    width: 70%;
  }
}

@media (min-width: 47em) {
  /* line 144, ../sass/partials/_layout.scss */
  progress-group.right {
    width: 49.29577%;
    float: right;
    margin-right: 0;
  }
}
/* line 148, ../sass/partials/_layout.scss */
progress-group.right span {
  color: #00c3ab;
  font-family: 'axis';
  font-size: .8em;
}
@media (min-width: 64em) {
  /* line 148, ../sass/partials/_layout.scss */
  progress-group.right span {
    font-size: 1em;
  }
}
/* line 156, ../sass/partials/_layout.scss */
progress-group.right .bar-container {
  width: 65%;
  height: .6em;
  display: inline-block;
  background-color: #6e6e6e;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 47em) {
  /* line 156, ../sass/partials/_layout.scss */
  progress-group.right .bar-container {
    width: 70%;
  }
}

/* line 167, ../sass/partials/_layout.scss */
.progress-bar {
  padding: .5em 0;
}
/* line 169, ../sass/partials/_layout.scss */
.progress-bar.bar-1 .bar-body {
  width: 85%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 175, ../sass/partials/_layout.scss */
.progress-bar.bar-2 .bar-body {
  width: 80%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 181, ../sass/partials/_layout.scss */
.progress-bar.bar-3 .bar-body {
  width: 65%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 187, ../sass/partials/_layout.scss */
.progress-bar.bar-4 .bar-body {
  width: 75%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 193, ../sass/partials/_layout.scss */
.progress-bar.bar-5 .bar-body {
  width: 75%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 199, ../sass/partials/_layout.scss */
.progress-bar.bar-6 .bar-body {
  width: 65%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 205, ../sass/partials/_layout.scss */
.progress-bar.bar-7 .bar-body {
  width: 85%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 211, ../sass/partials/_layout.scss */
.progress-bar.bar-8 .bar-body {
  width: 55%;
  height: .6em;
  background-color: #00c3ab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 218, ../sass/partials/_layout.scss */
.social {
  /*@include at-breakpoint($S) {*/
  width: 66.19718%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  padding-left: 16.90141%;
  padding-right: 16.90141%;
  /*}*/
}
/* line 223, ../sass/partials/_layout.scss */
.social .round {
  width: 3em;
  height: 3em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  margin: 0 .5em;
  background-color: #00c3ab;
  background-image: url("/img/social.png");
}
@media (min-width: 23em) {
  /* line 223, ../sass/partials/_layout.scss */
  .social .round {
    margin: 0 1em;
  }
}
/* line 235, ../sass/partials/_layout.scss */
.social .round.github {
  background-position: -160px 40px;
}
/* line 238, ../sass/partials/_layout.scss */
.social .round.weibo {
  background-position: -160px 0px;
}
/* line 241, ../sass/partials/_layout.scss */
.social .round.linkedin {
  background-position: -120px 0px;
}
/* line 244, ../sass/partials/_layout.scss */
.social .round.google {
  background-position: -80px 0px;
}
/* line 247, ../sass/partials/_layout.scss */
.social .round.stackoverflow {
  background-position: -200px 40px;
}
/* line 250, ../sass/partials/_layout.scss */
.social .round.facebook {
  background-position: -40px 0px;
}
/* line 253, ../sass/partials/_layout.scss */
.social .round:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 47em) {
  /* line 258, ../sass/partials/_layout.scss */
  .cv-left {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
  }
}

@media (min-width: 47em) {
  /* line 263, ../sass/partials/_layout.scss */
  .cv-right {
    width: 49.29577%;
    float: right;
    margin-right: 0;
  }
}

/* line 268, ../sass/partials/_layout.scss */
.cv-link {
  display: block;
  width: 100%;
  height: 2em;
  color: #6e6e6e;
  text-align: center;
  margin: 1em auto 0 auto;
  font-family: 'axis';
  font-size: 1em;
  text-decoration: none;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 23em) {
  /* line 268, ../sass/partials/_layout.scss */
  .cv-link {
    font-size: 2em;
  }
}
/* line 281, ../sass/partials/_layout.scss */
.cv-link:hover {
  color: #00c3ab;
}
/* line 282, ../sass/partials/_layout.scss */
.cv-link:hover:before {
  width: 1em;
  opacity: 1;
}
/* line 286, ../sass/partials/_layout.scss */
.cv-link:hover:after {
  width: 1em;
  opacity: 1;
}

/* line 294, ../sass/partials/_layout.scss */
.cv-link:before {
  content: '[';
  display: inline-block;
  opacity: 0;
}

/* line 299, ../sass/partials/_layout.scss */
.cv-link:after {
  content: ']';
  display: inline-block;
  opacity: 0;
}

/* line 305, ../sass/partials/_layout.scss */
.tags div {
  margin: 0 auto;
  width: 70%;
}
@media (min-width: 32em) {
  /* line 305, ../sass/partials/_layout.scss */
  .tags div {
    width: 50%;
  }
}
@media (min-width: 47em) {
  /* line 305, ../sass/partials/_layout.scss */
  .tags div {
    width: 70%;
  }
}
/* line 315, ../sass/partials/_layout.scss */
.tags span {
  display: inline-block;
  background-color: #00c3ab;
  font-size: .8em;
  color: #ffffff;
  font-family: 'axis';
  padding: .5em .5em;
  margin-bottom: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 23em) {
  /* line 315, ../sass/partials/_layout.scss */
  .tags span {
    font-size: 1em;
  }
}
/* line 327, ../sass/partials/_layout.scss */
.tags span.web-develop {
  background-color: #469d8a;
}
/* line 330, ../sass/partials/_layout.scss */
.tags span.flat-design {
  background-color: #9dce63;
}
/* line 333, ../sass/partials/_layout.scss */
.tags span.photoshop {
  background-color: #84ce7d;
}
/* line 336, ../sass/partials/_layout.scss */
.tags span.illustrate {
  background-color: #6fe4c2;
}

/* line 341, ../sass/partials/_layout.scss */
* {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 5, ../sass/style.scss */
.main-page, .circle-shadow, .circle, .img-circle.active, .gray-circle.active {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@-webkit-keyframes larger {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  90% {
    -moz-transform: scale(28);
    -ms-transform: scale(28);
    -webkit-transform: scale(28);
    transform: scale(28);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  to {
    -moz-transform: scale(30);
    -ms-transform: scale(30);
    -webkit-transform: scale(30);
    transform: scale(30);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
@-webkit-keyframes shadow {
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes gray-larger {
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
}
@-webkit-keyframes circle-trans {
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    top: -20em;
  }
  0% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
/* line 56, ../sass/style.scss */
.main-page {
  color: #6e6e6e;
  width: 4em;
  height: 2em;
  font-size: 2em;
  font-family: 'axis';
  text-align: center;
  top: 7em;
}
/* line 65, ../sass/style.scss */
.main-page span {
  color: #ffffff;
}
/* line 68, ../sass/style.scss */
.main-page.gray {
  color: #ffffff;
}

/* line 72, ../sass/style.scss */
.circle-shadow {
  width: 8.2em;
  height: 8.2em;
  background-color: #6e6e6e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: shadow 1.2s infinite ease-out;
  -webkit-animation: shadow 1.2s infinite ease-out;
  animation: shadow 1.2s infinite ease-out;
}

/* line 80, ../sass/style.scss */
.circle {
  width: 6em;
  height: 6em;
  background-color: #6e6e6e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
/* line 87, ../sass/style.scss */
.circle.active {
  -moz-animation: larger 0.2s ease-out;
  -webkit-animation: larger 0.2s ease-out;
  animation: larger 0.2s ease-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  cursor: default;
}

/* line 93, ../sass/style.scss */
.img-circle.active {
  width: 6em;
  height: 6em;
  background-image: url("../img/photo.png");
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: gray-larger 0.2s ease-out;
  -webkit-animation: gray-larger 0.2s ease-out;
  animation: gray-larger 0.2s ease-out;
}

/* line 101, ../sass/style.scss */
.gray-circle.active {
  width: 3em;
  height: 3em;
  border: #6e6e6e 0.2em solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: circle-trans 0.2s ease-out;
  -webkit-animation: circle-trans 0.2s ease-out;
  animation: circle-trans 0.2s ease-out;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 110, ../sass/style.scss */
#my-cv {
  width: 100%;
  overflow: visible;
  min-height: 90%;
  margin: 5% auto;
  padding-bottom: 2em;
  background-color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-animation: gray-larger 0.2s ease-out;
  -webkit-animation: gray-larger 0.2s ease-out;
  animation: gray-larger 0.2s ease-out;
  -moz-box-shadow: 1px 1px 10px #636363;
  -webkit-box-shadow: 1px 1px 10px #636363;
  box-shadow: 1px 1px 10px #636363;
}
@media (min-width: 47em) {
  /* line 110, ../sass/style.scss */
  #my-cv {
    width: 90%;
  }
}
@media (min-width: 64em) {
  /* line 110, ../sass/style.scss */
  #my-cv {
    width: 90%;
  }
}
@media (min-width: 75em) {
  /* line 110, ../sass/style.scss */
  #my-cv {
    width: 80%;
  }
}

/*#my-skill {
  width: 50%;
  height: 100%;
  margin-top: 1em;
  background-color: $color3;
  @extend %middle;
  z-index: 1000;
}*/
