<div class="header">
    <p><span>P</span>hotography</p>
</div>
<div class="content">
    <ul>
        <li class="selected"><a href="#/album">ALL</a></li>
        <li><a href="#/album">PORTRAIT</a></li>
        <li><a href="#/album">SCENERY</a></li>
        <li><a href="#/album">TRAVEL</a></li>
    </ul>
    <img src="/img/album/10.jpg">
    <img src="/img/album/9.jpg">
    <img src="/img/album/11.jpg">
    <img src="/img/album/14.jpg">
    <img src="/img/album/13.jpg">
    <img src="/img/album/12.jpg">
    <img src="/img/album/15.jpg">
    <img src="/img/album/16.jpg">
    <p>FOR MORE PHOTOS : <a href="http://hansneil.lofter.com">LOFTER</a></p>
</div>