<div class="header">
    <p>Get <span class="span">24</span> to Enter Fantastic World</p>
</div>
<div class="call-content">
    <div class="button-wrapper" ng-class="{forbid: list.completed}">
        <div class="call-button" ng-click="!list.completed && select($index)" ng-class="{active: num.active, visible: num.checkActive, shadow: num.shadowActive}" ng-repeat="num in list.views">
            <a>{{num.number}}</a>
        </div>
        <div class="alert animateIf" ng-if="!list.trueCount && !list.completed && !list.times">
            Please choose <span>4</span> numbers only!
        </div>
        <div class="alert animateIf" ng-if="!!list.times && !list.completed && !list.trueCount">
            Try another <span>4</span> numbers to meet another fantastic world!
        </div>
        <div class="success animateIf" ng-if="list.trueCount == 4">
            <a ng-click="complete()">OK !</a>
        </div>
        <div class="animateIf" ng-if="!list.passed">
            <div class="select-number animateIf" ng-if="list.completed">
                <p>You've selected:</p>
            </div>
            <div class="call-button active no-forbid shadow animateIf" ng-repeat="num in list.selectedNumber" ng-if="list.completed">
                <span>{{num.number}}</span>
            </div>
            <div ng-if="list.completed" class="calc animateIf">
                <input ng-model='list.result' type="text" class="input">
                <i class="glyphicon glyphicon-send" ng-click="calc()"></i>
                <p class="msg">{{list.msg}}</p>
            </div>
        </div>
    </div>
</div>
<div class="content plugin-content animateIf" ng-if="list.passed && !list.trueCount">
    <div ng-switch on="chooseView">
        <div ng-switch-when="1">
            <p>Here comes the animation-1!</p>
            <div class="spinner">
                <div class="rotating-plane plane1"></div>
                <div class="rotating-plane plane2"></div>
            </div>
        </div>
        <div ng-switch-when="2">
            <p>Here comes the animation-2!</p>
            <div class="spinner">
                <div class="rectangle-bounce">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                    <div class="rect6"></div>
                    <div class="rect7"></div>
                </div>
            </div>
        </div>
        <div ng-switch-when="3">
            <p>Here comes the animation-3!</p>
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
                <div class="cube3"></div>
                <div class="cube4"></div>
            </div>
        </div>
        <div ng-switch-when="4">
            <p>Here comes the animation-4!</p>
            <div class="spinner">
                <div class="pulse"></div>
            </div>
        </div>
        <div ng-switch-when="5">
            <p>Here comes the animation-5!</p>
            <div class="spinner chasing-dots">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
        <div ng-switch-when="6">
            <p>Here comes the animation-6!</p>
            <div class="spinner three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
        <div ng-switch-when="7">
            <p>Here comes the animation-7!</p>
            <div class="spinner">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
        <div ng-switch-when="8">
            <p>Here comes the animation-8!</p>
            <div class="spinner sk-cube-grid">
                <!--<div class="sk-cube-grid">-->
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                <!--</div>-->
            </div>
        </div>
        <div ng-switch-when="9">
            <p>Here comes the animation-9!</p>
            <div class="spinner">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>