<!--
<p class="name">HansNeil</p>
<div class="circle-shadow"></div>
<div class="circle" ng-click="click()"></div>
<p class="main-page">PRESS <span>TO</span> ENTER...</p>-->
<div class="home-wrapper">
    <div class="photo-wrapper"></div>
    <div class="info-wrapper">
        <p class="title">HansNeil</p>
        <ul class="page">
            <li><a ng-href="#/cv">CV</a></li>
            <li><a ng-href="#/album">ALBUM</a></li>
            <li><a ng-href="#/blog">BLOG</a></li>
        </ul>
    </div>
    <div class="footer">
        <p>Contact Me :</p>
        <ul class="contact">
            <li><a ng-href="#/wechat">WECHAT</a></li>
            <li><a ng-href="http://weibo.com/p/1005052434892144?is_all=1">WEIBO</a></li>
            <li><a ng-href="mailto:yxbneil@163.com">EMAIL</a></li>
            <li><a ng-href="#/">QQ</a></li>
        </ul>
    </div>
</div>