@import "variables";
@import "susyone";

.header {
  font-family: 'axis';
  margin-top: 1em;
  & p {
    font-size: 3em;
    color: $color5;
    margin: 0 auto;
    text-align: center;
  }
}

.content {
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 98%;
  @include at-breakpoint($SPlus){
    width: 90%;
  }
  margin-left: auto;
  margin-right: auto;
  background-color: $color5;
  border-radius: 10px;
  & ul {
    display: block;
    clear: both;
    & li {
      color: $color2;
      display: inline-block;
      padding-left: .8em;
      font-size: .8em;
      @include at-breakpoint($SPlus){
        padding-left: .8em;
        font-size: 1em;
      }
      &:hover, & .selected {
        color: $color3;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  & p {
    margin-top: 2em;
    text-align: center;
    font-family: 'axis';
    color: $color3;
    & a {
      color: $color2;
      text-decoration: underline;
    }
  }
}

.album-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 98%;
  padding-left: 1%;
  font-size: .8em;
  @include at-breakpoint($S) {
    font-size: 1em;
  }
  @include at-breakpoint($SPlus) {
    width: 48%;
    padding-left: 1.2%;
    font-size: .8em;
  }
  @include at-breakpoint($M) {
    width: 24%;
    padding-left: .5%;
    font-size: .6em;
  }
  @include at-breakpoint($XL) {
    font-size: 1em;
  }
  & img {
    width: 100%;
  }
  &:hover img {
    @include transform(translateY(-20%));
    cursor: pointer;
  }
  & p {
    position: absolute;
    @include at-breakpoint($SPlus) {
      bottom: 0;
    }
    bottom: 3%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    color: $color2;
    & span {
      color: $color3;
    }
    & .likes {
      color: $color7;
      padding-left: 1em;
    }
    & .comment {
      color: $color3;
      text-decoration: none;
    }
    & small {
      color: $color2;
    }
  }
  &:hover p {
    z-index: 1;
  }
  &:hover i {
    cursor: pointer;
  }
}
