.glyphicon.glyphicon-heart-add,
.glyphicon.glyphicon-heart-empty-remove {
  opacity: 0;
  @include transform(scale(2));
  @include transition(all .5s ease-in-out);
}

.glyphicon.glyphicon-heart-add.glyphicon-heart-add-active {
  opacity: 1;
  @include transform(scale(1));
}

.animateView.ng-enter {
  opacity: 0;
  @include transition(all .5s ease-in-out);
}

.animateView.ng-enter.ng-enter-active {
  opacity: 1;
}
.animateView.ng-leave {
  display: none;
}
.album-wrapper {
  &.ng-leave {
    display: none;
  }
}

.animateIf.ng-enter {
  opacity: 0;
  @include transition(all .5s ease-in-out);
}
.animateIf.ng-enter.ng-enter-active {
  opacity: 1;
}
.animateIf.ng-leave {
  display: none;
}

.spinner {
  position: relative;
  width: 10em;
  height: 10em;
  background-color: $color3;

  margin: 10em auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.rotating-plane {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  opacity: 1;
  @include animation(rotateplane 1.2s infinite ease-in-out);
}

.plane2 {
  /*@include aimation-delay(0.1s);*/
  background-color: $color3;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(280px)
  }

  50% {
    -webkit-transform: perspective(280px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(280px) rotateY(180deg) rotateX(180deg)
  }
}
