@import "variables";

.wrapper {
  position: absolute;
  width: 10em;
  height: 1em;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'axis';
  font-size: 2em;
  color: $color5;
  text-align: center;
  @include at-breakpoint($M) {
    font-size: 4em;
  }
  .redirect {
    font-size: .4em;
    & a {
      color: $color7;
      text-decoration: underline;
    }
    & li {
      display: inline-block;
      padding: 0 .5em;
    }
  }
  & ul {
    text-align: center;
    margin: 0 auto;
  }
}