@import "variables";
@import "susyone";

@font-face {
  font-family: 'axis';
  src: url('/css/fonts/axis.otf');
}

a {
  text-decoration: none;
  color: inherit;
}

.home-wrapper {
  @include at-breakpoint($M) {
    position: absolute;
    width: 45em;
    height: 20em;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  margin-top: 2em;
}
.photo-wrapper {
  @include at-breakpoint($M) {
    display: inline-block;
  }
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-image: url('/img/home_photo.jpg');
  border: 10px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.info-wrapper {
  @include at-breakpoint($M) {
    display: inline-block;
    border-left: 2px solid white;
    border-top: none;
    text-align: left;
    margin-left: 2em;
    margin-top: 0em;
  }
  height: 18em;
  vertical-align: top;
  text-align: center;
  margin-top: 2em;
  & p {
    font-family: 'axis';
    color: $color5;
    &.title {
      @include at-breakpoint($M) {
        padding-left: 1em;
      }
      font-size: 3em;
    }
  }
}

.footer {
  @include at-breakpoint($M) {
    position: fixed;
  }
  bottom: 1em;
  & p {
    font-family: 'axis';
    font-size: 1.5em;
    color: $color1;
    display: block;
    margin: 0 auto;
    text-align: center;
    @include at-breakpoint($M) {
      display: inline-block;
    }
  }
}
ul {
  @include at-breakpoint($M) {
    display: inline-block;
    width: auto;
    margin-left: 2em;
  }
  width: 80%;
  text-align: center;
  margin: .5em auto;
  padding-left: .5em;
}

li {
  font-family: 'axis';
  color: $color5;
  padding-right: .5em;
  padding-bottom: 1em;
  list-style: none;
  .page & {
    @include at-breakpoint($M) {
      display: inline-block;
      padding-right: 1em;
    }
    font-size: 1.5em;
    &:hover {
      color: $color6;
    }
    &:before {
      @include at-breakpoint($M) {
        content: '';
        padding-right: 0;
      }
      content: '<';
      padding-right: 1.5em;
    }
    &:after {
      @include at-breakpoint($M) {
        content: '';
        padding-left: 0;
      }
      content: '>';
      padding-left: 1.5em;
    }
  }
  .footer & {
    display: inline-block;
    @include at-breakpoint($M) {
      padding-right: 1em;
    }
  }
}