@import "variables";
@import "susyone";

@font-face {
  font-family: 'axis';
  src: url('/css/fonts/axis.otf');
}

a {
  text-decoration: none;
  color: inherit;
}

.home-wrapper {
  @include at-breakpoint($M) {
    position: absolute;
    width: 50em;
    height: 20em;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  margin-top: 2em;
}
.photo-wrapper {
  @include at-breakpoint($M) {
    display: inline-block;
  }
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background-image: url('/img/home_photo.jpg');
  border: 10px solid rgb(255, 255, 255);
  margin: 0 auto;
}

.info-wrapper {
  @include at-breakpoint($M) {
    display: inline-block;
    border-left: 2px solid white;
    border-top: none;
    text-align: left;
    margin-left: 2em;
    margin-top: 0em;
  }
  height: 18em;
  vertical-align: top;
  text-align: center;
  margin-top: 2em;
  & p {
    font-family: 'axis';
    color: $color5;
    &.title {
      @include at-breakpoint($M) {
        padding-left: 1em;
      }
      font-size: 3em;
    }
  }
}

footer {
  margin-top: 1em;
  @include at-breakpoint($M) {
    position: fixed;
    bottom: 1em;
  }
  & p {
    font-family: 'axis';
    font-size: 1.5em;
    color: $color1;
    display: block;
    margin: 0 auto;
    text-align: center;
    @include at-breakpoint($M) {
      display: inline-block;
    }
  }
}
ul {
  @include at-breakpoint($M) {
    display: inline-block;
    width: auto;
    margin-left: 2em;
  }
  width: 80%;
  text-align: center;
  margin: .5em auto;
  padding-left: .5em;
}

li {
  font-family: 'axis';
  color: $color5;
  /*padding-right: .5em;
  padding-bottom: 1em;*/
  list-style: none;
  margin-bottom: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
  .page & {
    @include at-breakpoint($M) {
      display: inline-block;
      padding-right: 1em;
      border: 0px solid $color5;
    }
    font-size: 1.5em;
    &:hover {
      color: $color3;
      background-color: $color5;
      border-radius: 5px;
      @include at-breakpoint($M) {
        color: $color6;
        background-color: inherit;
        border-radius: 0;
      }
    }
    border: 1px solid $color5;
    /*&:before {
      @include at-breakpoint($M) {
        content: '';
        padding-right: 0;
      }
      content: '<';
      padding-right: 1.5em;
    }
    &:after {
      @include at-breakpoint($M) {
        content: '';
        padding-left: 0;
      }
      content: '>';
      padding-left: 1.5em;
    }*/
  }
  footer & {
    display: inline-block;
    @include at-breakpoint($M) {
      padding-right: 1em;
    }
  }
}
footer li:last-child {
  position: relative;
  cursor: pointer;
}
.tip-box {
  display: none;
  position: absolute;
  width: 100px;
  line-height: 30px;
  bottom: 2rem;
  border-radius: 2px;
  background-color: $color5;
  transform: translateX(-50px);
  transition: none 0s linear;
  color: $color6;
  &:after {
    position: absolute;
    border: 5px solid transparent;
    content: '';
    width: 0;
    height: 0;
    top: 30px;
    right: 30px;
    border-top-color: $color5;
  }
}
.tipbox-show {
  display: block;
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  padding: 0;
}
.background {
  height: 100%;
  background-color: #202a56;
}