#photo-header.header {
  font-size: .8em;
  margin-bottom: -2em;
  @include at-breakpoint($M) {
    font-size: 1em;
    margin-bottom: 0;
  }
}
#photo {
  @include container;
  //@include susy-grid-background;
  &.content {
    max-width: 80em;
    width: 90%;
  }
}
.content p.title {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  @include at-breakpoint($M) {
    font-size: 1.5em;
  }
  padding-bottom: .5em;
  border-bottom: 1.5px solid $color6;
  & span {
    color: $color2;
  }
  & small {
    font-size: .5em;
    display: none;
    @include at-breakpoint($M) {
      display: inline-block;
    }
  }
  & a {
    display: inline-block;
    margin-left: 1em;
    font-size: .8em;
    &:hover {
      color: $color9;
    }
  }
}
.img-container {
  @include at-breakpoint($M) {
    @include span-columns(8, 12);
  }
  & img {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include at-breakpoint($M) {
      border-radius: 15px;
    }
  }
}
.comment-container {
  @include at-breakpoint($M) {
    @include span-columns(4 omega, 12);
  }
}