#photo-header.header {
  font-size: .8em;
  margin-bottom: -2em;
  @include at-breakpoint($M) {
    font-size: 1em;
    margin-bottom: 0;
  }
}
#photo {
  @include container;
  //@include susy-grid-background;
  &.content {
    max-width: 100em;
    width: 90%;
  }
}
.content p.title {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1em;
  @include at-breakpoint($M) {
    font-size: 1.5em;
  }
  padding-bottom: .5em;
  border-bottom: 1.5px solid $color6;
  & span {
    color: $color2;
  }
  & small {
    font-size: .5em;
    display: none;
    @include at-breakpoint($M) {
      display: inline-block;
    }
  }
  & a {
    display: inline-block;
    margin-left: 1em;
    font-size: .8em;
    &:hover {
      color: $color9;
    }
  }
}
.img-container {
  margin-top: 2em;
  @include at-breakpoint($M) {
    margin-top: auto;
    @include span-columns(8, 12);
  }
  & img {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include at-breakpoint($M) {
      border-radius: 15px;
    }
  }
}
.comment-container {
  @include at-breakpoint($M) {
    @include span-columns(4 omega, 12);
  }
}
.photo-button {
  margin-top: -.5em;
  //margin-bottom: 1em;
  @include at-breakpoint($M) {
    margin-top: 2em;
  }
  text-align: center;
  & div {
    display: inline-block;
    position: relative;
    width: 2em;
    height: 2em;
    font-size: .8em;
    /*margin-left: .5em;
    margin-right: .5em;*/
    @include at-breakpoint($M) {
      width: 2em;
      height: 2em;
      margin-left: 1em;
      margin-right: 1em;
      font-size: 1.5em;
      color: $color3;
    }
    &.prev {
      float: left;
      background-color: $color3;
    }
    &.next {
      float: right;
      background-color: $color9;
    }
    &.prev, &.next {
      @include at-breakpoint($M) {
        float: none;
        background-color: $color5;
      }
    }
    &.forbid {
      background-color: $color2;
      @include at-breakpoint($M) {
        background-color: $color5;
      }
    }
    border-radius: 50%;
    opacity: 0.8;
    @include transition(all .5s ease-in-out);
    &:hover {
      opacity: 1;
    }
    color: $color5;
    cursor: pointer;
    & a {
      display: block;
      width: 100%;
      height: 100%;
      &.forbid {
        color: $color5;
        @include at-breakpoint($M) {
          color: $color2;
        }
      }
    }
    & i {
      display: block;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      top: 20%;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}
.small-scale {
  display: block;
  @include at-breakpoint($M) {
    display: none;
  }
}
.large-scale {
  display: none;
  @include at-breakpoint($M) {
    display: block;
  }
}