$color1: rgb(48,48,48);
$color2: rgb(110,110,110);
$color3: rgb(0,195,171);
$color4: #c7fa5a;
$color5: #ffffff;
$color6: rgb(70, 29, 69);
$color7: rgb(218,7,96);

//Media queries
$S: 23em;
$SPlus: 32em;
$M: 47em; //752
$L: 64em; //1024
$XL: 75em; //1200

//Keyframes
$webkit: -webkit-keyframes;
$ms: -ms-keyframes;
$moz: -moz-keyframes;
$o: -o-keyframes;
$ori: keyframes;