.overhidden {
  background-color: rgb(0,195,171);
  overflow-y: hidden;
}
%position_absolute {
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
canvas {
  @extend %position_absolute;
  border-radius: 15px;
  z-index: -1;
}
#my-photo {
  @extend %position_absolute;
  width: 150px;
  border-radius: 50%;
  z-index: 9999;
}
#my-photo:hover {
  cursor: pointer;
  border: 5px solid rgba(255, 255, 255, .8);
}
.photo-back {
  @extend %position_absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
}
#point-canvas {
  width: 100%;
  transition: all .5s ease;
}
@keyframes rotate-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-back-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.back-img .big, .back-img .small {
  @extend %position_absolute;
  opacity: 0.5;
  z-index: -9;
}
.big {
  animation: rotate-back 150s infinite linear both;
}
.small {
  animation: rotate-back-2 150s infinite linear both;
}
#svg1 {
  @extend %position_absolute;
}